source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0, net5.0, netstandard2.0, netstandard2.1
nuget BenchmarkDotNet
nuget coverlet.collector
nuget coverlet.msbuild
nuget FSharp.Core
nuget giraffe