source https://api.nuget.org/v3/index.json

storage: none
framework: net8.0
nuget BenchmarkDotNet
nuget coverlet.collector
nuget coverlet.msbuild
nuget FluentAssertions
nuget FsCheck.Xunit
nuget FSharp.Core
nuget FsUnit.Xunit
nuget giraffe
nuget HtmlAgilityPack
nuget Microsoft.NET.Test.Sdk
nuget MongoDB.Driver
nuget NSubstitute
nuget System.Net.Http
nuget System.Text.RegularExpressions
nuget xunit
nuget xunit.runner.visualstudio